{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Finances</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Finances</li>
    </ol>
  </div>
  <div class="col-md-7 col-4 align-self-center">
    <div class="d-flex m-t-10 justify-content-end">
      <div class="d-flex m-r-20 m-l-10 hidden-md-down">
        <div class="chart-text m-r-10">
          <h6 class="m-b-0"><small>THIS MONTH</small></h6>
          <h4 class="m-t-0 text-info">$3,356</h4>
        </div>
        <div class="spark-chart">
          <div id="monthchart"></div>
        </div>
      </div>
      <div class="d-flex m-r-20 m-l-10 hidden-md-down">
        <div class="chart-text m-r-10">
          <h6 class="m-b-0"><small>LAST MONTH</small></h6>
          <h4 class="m-t-0 text-primary">$2,100</h4>
        </div>
        <div class="spark-chart">
          <div id="lastmonthchart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-info">
            <i class="ti-wallet"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-light">$3249</h3>
            <h5 class="text-muted m-b-0">Total Revenue</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-warning">
            <i class="mdi mdi-cellphone-link"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$2376</h3>
            <h5 class="text-muted m-b-0">Pending</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-primary">
            <i class="mdi mdi-cart-outline"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$1795</h3>
            <h5 class="text-muted m-b-0">Received</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-danger">
            <i class="mdi mdi-bullseye"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$687</h3>
            <h5 class="text-muted m-b-0">Expenses</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <h4 class="card-title">Students</h4>
          <div class="ml-auto">
            <select class="form-control text-info">
              <option value="">All Months</option>
              <option value="">August 2019</option>
            </select>
          </div>
        </div>
        <div>
          <input type="checkbox" id="basic_checkbox_1" checked />
          <label for="basic_checkbox_1">Show only pending</label>
        </div>
        <div class="table-responsive m-t-20">
          <table class="table stylish-table">
            <thead>
              <td colspan="2">Student</td>
              <td>Due Date</td>
              <td>Frequency</td>
              <td>Amount</td>
              <td>Payment</td>
            </thead>
            <tbody>
              <tr class="student">
                <td style="width:50px;">
                  <span class="round bg-inverse">LL</span>
                </td>
                <td>
                  <h6>Lucas Leite</h6>
                  <small class="text-muted">3 classes, 4 weeks</small>
                </td>
                <td>05/01/2019</td>
                <td>70% (23/30)</td>
                <td>R$ 120</td>
                <td>
                  <span class="label label-danger">Pending</span>
                </td>
              </tr>
              <tr class="student">
                <td style="width:50px;">
                  <span class="round bg-inverse">MA</span>
                </td>
                <td>
                  <h6>Marcos Araujo</h6>
                  <small class="text-muted">3 classes, 4 weeks</small>
                </td>
                <td>05/01/2019</td>
                <td>70% (23/30)</td>
                <td>R$ 120</td>
                <td>
                  <span class="label label-danger">Pending</span>
                </td>
              </tr>
              <tr class="student">
                <td style="width:50px;">
                  <span class="round bg-inverse">PO</span>
                </td>
                <td>
                  <h6>Paulo Octavio</h6>
                  <small class="text-muted">3 classes, 4 weeks</small>
                </td>
                <td>05/01/2019</td>
                <td>70% (23/30)</td>
                <td>R$ 120</td>
                <td>
                  <span class="label label-danger">Pending</span>
                </td>
              </tr>
              <tr class="student">
                <td>
                  <span class="round"
                    ><img
                      src="/static/assets/images/users/2.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Alice</h6>
                  <small class="text-muted">3 classes, 12 weeks</small>
                </td>
                <td>05/01/2019</td>
                <td>70% (23/30)</td>
                <td>R$ 120</td>
                <td>
                  <span class="label label-danger">Pending</span>
                </td>
              </tr>
              <tr class="student-paid">
                <td>
                  <span class="round"
                    ><img
                      src="/static/assets/images/users/3.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Andrew</h6>
                  <small class="text-muted">3 classes, 7 weeks</small>
                </td>
                <td>05/01/2019</td>
                <td>70% (23/30)</td>
                <td>R$ 120</td>
                <td>
                  <span class="label label-info">Paid</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block modals %}
<div id="modalPay" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Payment</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h5>Lucas Leite</h5>
            <h6 class="text-muted">
              <i class="fa fa-phone"></i> 71 99126-2602
            </h6>
            <h6 class="text-muted">
              <i class="fa fa-envelope"></i> me@lucasleite.us
            </h6>
            <h6 class="text-muted">
              <a href="/students" target="_blank">Student Profile</a>
            </h6>
          </div>
          <div class="col-lg-6">
            <h6>Started at: <span class="text-muted">April, 5th</span></h6>
            <h6>Monthly Payment: <span class="text-muted">R$ 760</span></h6>
            <h6>Classes per Week: <span class="text-muted">5</span></h6>
            <h6>Payment Date: <span class="text-muted">12</span></h6>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- Amount Paid -->
        <div class="form-group has-danger">
          <label for="exampleInputuname">Amount Paid</label>
          <input
            value="0"
            type="number"
            class="form-control"
            id="exampleInputuname"
          />
          <small class="form-control-feedback">
            Mandatory field.
          </small>
        </div>

        <!-- Payment Method -->
        <div class="form-group has-danger">
          <label for="exampleInputuname">Payment Method</label>
          <select class="form-control" name="" id="">
            <option value="" selected disabled>Select a option</option>
            <option value="">Cash</option>
            <option value="">Credit Card</option>
          </select>
          <small class="form-control-feedback">
            Mandatory field.
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-info waves-effect"
          data-dismiss="modal"
        >
          Add Payment
        </button>
      </div>
    </div>
  </div>
</div>
<div id="modalPaid" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment Received</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h5>Lucas Leite</h5>
            <h6 class="text-muted">
              <i class="fa fa-phone"></i> 71 99126-2602
            </h6>
            <h6 class="text-muted">
              <i class="fa fa-envelope"></i> me@lucasleite.us
            </h6>
            <h6 class="text-muted">
              <a href="/students" target="_blank">Student Profile</a>
            </h6>
          </div>
          <div class="col-lg-6">
            <h6>Started at: <span class="text-muted">April, 5th</span></h6>
            <h6>Monthly Payment: <span class="text-muted">R$ 760</span></h6>
            <h6>Classes per Week: <span class="text-muted">5</span></h6>
            <h6>Payment Date: <span class="text-muted">12</span></h6>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h6>
          Received <b class="text-danger">R$ 500</b> at
          <b class="text-info">05/04/2014</b> by
          <b class="text-warning">Cash.</b>
        </h6>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger waves-effect"
          data-dismiss="modal"
        >
          Cancel Payment
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}

<script>
  $(".student").on("click", function() {
    $("#modalPay").modal("toggle");
  });
  $(".student-paid").on("click", function() {
    $("#modalPaid").modal("toggle");
  });
  $(".clockpicker")
    .clockpicker({
      donetext: "Done"
    })
    .find("input")
    .change(function() {
      console.log(this.value);
    });
</script>

{% endblock %}
