{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Finances</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Finances</li>
    </ol>
  </div>
  <div class="col-md-7 col-4 align-self-center" style="display: none">
    <div class="d-flex m-t-10 justify-content-end">
      <div class="d-flex m-r-20 m-l-10 hidden-md-down">
        <div class="chart-text m-r-10">
          <h6 class="m-b-0"><small>THIS MONTH</small></h6>
          <h4 class="m-t-0 text-info">$3,356</h4>
        </div>
        <div class="spark-chart">
          <div id="monthchart"></div>
        </div>
      </div>
      <div class="d-flex m-r-20 m-l-10 hidden-md-down">
        <div class="chart-text m-r-10">
          <h6 class="m-b-0"><small>LAST MONTH</small></h6>
          <h4 class="m-t-0 text-primary">$2,100</h4>
        </div>
        <div class="spark-chart">
          <div id="lastmonthchart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="display: None">
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-info">
            <i class="fas fa-wallet"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-light">$3249</h3>
            <h5 class="text-muted m-b-0">Total Revenue</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-warning">
            <i class="fas fa-funnel-dollar"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$2376</h3>
            <h5 class="text-muted m-b-0">Pending</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-primary">
            <i class="fas fa-cash-register"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$1795</h3>
            <h5 class="text-muted m-b-0">Received</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-danger">
            <i class="fas fa-money-bill"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$687</h3>
            <h5 class="text-muted m-b-0">Expenses</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <h4 class="card-title">Students</h4>
          <div class="ml-auto" style="display: none">
            <select class="form-control text-info">
              <option value="">All Months</option>
              <option value="">August 2019</option>
            </select>
          </div>
        </div>
        <div style="display: none">
          <input type="checkbox" id="basic_checkbox_1" checked />
          <label for="basic_checkbox_1">Show only pending</label>
        </div>
        <div class="table-responsive m-t-20">
          <table class="table stylish-table">
            <thead>
              <td colspan="2">Student</td>
              <td>Due Date</td>
              <td>Frequency</td>
              <td>Amount</td>
              <td>Payment</td>
            </thead>
            <tbody id="payments"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block modals %}
<div id="modalPay" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Payment</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h5 class="student-name"></h5>
            <h6 class="text-muted">
              <i class="fa fa-phone"></i> <span class="student-phone"></span>
            </h6>
            <h6 class="text-muted">
              <i class="fa fa-envelope"></i> <span class="student-email"></span>
            </h6>
          </div>
          <div class="col-lg-6">
            <h6>
              Started at: <span class="text-muted student-started-at"></span>
            </h6>
            <h6>
              Monthly Payment:
              <span class="text-muted student-monthly-payment"></span>
            </h6>
            <h6>
              Classes per Week:
              <span class="text-muted student-lectures-per-week"></span>
            </h6>
            <h6>
              Payment Date:
              <span class="text-muted student-payment-date"></span>
            </h6>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- Amount Paid -->
        <form onsubmit="addPayment(this, event)">
          <input type="hidden" class="payment-id" name="id" />
          <div class="form-group">
            <label>Amount Paid</label>
            <input
              value="0"
              type="number"
              name="amount_paid"
              step="0.01"
              min="0"
              class="form-control"
            />
          </div>
          <!-- Payment Method -->
          <div class="form-group">
            <label>Payment Method</label>
            <select class="form-control" name="payment_method">
              <option value="" selected disabled>Select a option</option>
              <option value="cash">Cash</option>
              <option value="credit_card">Credit Card</option>
            </select>
          </div>
          <button type="submit" class="btn btn-info waves-effect">
            Add Payment
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="modalPaid" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment Received</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h5 class="student-name"></h5>
            <h6 class="text-muted">
              <i class="fa fa-phone"></i> <span class="student-phone"></span>
            </h6>
            <h6 class="text-muted">
              <i class="fa fa-envelope"></i> <span class="student-email"></span>
            </h6>
          </div>
          <div class="col-lg-6">
            <h6>
              Started at: <span class="text-muted student-started-at"></span>
            </h6>
            <h6>
              Monthly Payment:
              <span class="text-muted student-monthly-payment"></span>
            </h6>
            <h6>
              Classes per Week:
              <span class="text-muted student-lectures-per-week"></span>
            </h6>
            <h6>
              Payment Date:
              <span class="text-muted student-payment-date"></span>
            </h6>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h6>
          Received <b class="text-danger payment-amount"></b> at
          <b class="text-info payment-date"></b> by
          <b
            class="text-warning payment-method"
            style="text-transform: capitalize;"
          >
          </b>
        </h6>
      </div>
      <div class="modal-footer">
        <form onsubmit="cancelPayment(this, event)">
          <input type="hidden" class="payment-id" name="id" />
          <button type="submit" class="btn btn-danger waves-effect">
            Cancel Payment
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/template" id="payment-template">
  <tr class="student-[[status]]" data-id="[[id]]">
      <td>
          <span class="round bg-inverse"
            ><img
              src="[[photo]]"
              alt=""
              width="50"
          /></span>
        </td>
      <td>
        <h6>[[name]]</h6>
        <small class="text-muted">[[classes_per_week]] lectures, [[weeks]] weeks</small>
      </td>
      <td>[[due_date]]</td>
      <td>[[frequency_percent]]% ([[frequency_absolut]]/)
      </td>
      <td>R$ [[amount]]</td>
      <td>
        <span class="label label-[[accent]]">[[status]]</span>
      </td>
    </tr>
</script>
<script src="/static/app/views/admin/finances.js"></script>
<script>
  $(".clockpicker")
    .clockpicker({
      donetext: "Done"
    })
    .find("input")
    .change(function() {
      console.log(this.value);
    });
</script>

{% endblock %}
