{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Lectures</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Lectures</li>
    </ol>
  </div>
</div>
<div class="row">
  <!-- Column -->
  <div class="col-lg-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="text-center">
              <td></td>
              <td>Monday</td>
              <td>Thurday</td>
              <td>Wedensday</td>
              <td>Thuesday</td>
              <td>Friday</td>
              <td>Saturday</td>
              <td>Sunday</td>
            </thead>
            <tbody class="text-center" id="lectures"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block modals %}
<div id="modalLectureStudents" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lecture Students</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h6>Intermediate</h6>
            <h6>08h20 - 10h30</h6>
          </div>

          <div class="col-lg-6 text-right">
            <h3>5/10 <i class="ti-user"></i></h3>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- Skill Name -->
        <table class="table table-striped">
          <tbody>
            <tr>
              <td style="width:50px;">
                <span class="round bg-inverse">LL</span>
              </td>
              <td>
                <h6>Lucas Leite</h6>
                <small class="text-muted">(71) 99126-2602</small>
              </td>
              <td class="text-right" width="50px">
                <button class="btn btn-waves btn-danger">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td style="width:50px;">
                <span class="round bg-inverse">LL</span>
              </td>
              <td>
                <h6>Lucas Leite</h6>
                <small class="text-muted">(71) 99126-2602</small>
              </td>
              <td class="text-right" width="50px">
                <button class="btn btn-waves btn-danger">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td style="width:50px;">
                <span class="round bg-inverse">LL</span>
              </td>
              <td>
                <h6>Lucas Leite</h6>
                <small class="text-muted">(71) 99126-2602</small>
              </td>
              <td class="text-right" width="50px">
                <button class="btn btn-waves btn-danger">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <select type="text" class="form-control select2">
                  <option value="">Lucas Leite</option>
                </select>
              </td>
              <td class="text-right" width="50px">
                <button class="btn btn-waves btn-info">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/template" id="template_lecture">
  <td class="lecture-td pt-3 pb-3" data-id="[[id]]" onclick="lectureOnClick(this)">
    <span class="badge badge-[[accent_color]] label-md">[[name]] [[students]]/[[student_capacity]]
    <i class="far fa-user"></i></span>
  </td>
</script>
<script type="text/template" id="template_level">
  <div class="col-lg-12 mt-5">
    <button onclick="next0([[id]])" class="btn btn-outline-info btn-bg">
      [[name]]
    </button>
  </div>
</script>
<script type="text/template" id="template_row">
  <tr id=ts[[id]]>
    <td style="min-width: 150px">
      [[timestamp]]
    </td>
  </tr>
</script>
<script src="/static/app/views/admin/lectures.js"></script>
<script>
  $(".select2").select2({ placeholder: "Add Student", allowClear: true });
  $(".lecture-td").on("click", function() {});
</script>

{% endblock %}
