{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Lectures</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Lectures</li>
    </ol>
  </div>
</div>
<div class="row">
  <!-- Column -->
  <div class="col-lg-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="text-center">
              <td></td>
              <td>Monday</td>
              <td>Tuesday</td>
              <td>Wednesday</td>
              <td>Thursday</td>
              <td>Friday</td>
              <td>Saturday</td>
              <td>Sunday</td>
            </thead>
            <tbody class="text-center" id="lectures"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block modals %}
<div id="modalLectureStudents" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lecture Students</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <h6 id="lectureName"></h6>
            <h6 id="lectureTimestamp"></h6>
          </div>
          <div class="col-lg-6 text-right">
            <h3>
              <span id="lectureCapacityStr"></span> <i class="ti-user"></i>
            </h3>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- Skill Name -->
        <table class="table table-striped">
          <tbody id="students"></tbody>
        </table>
        <hr />
        <h6>Add Student</h6>
        <select id="selectStudents">
          <option disabled selected></option>
        </select>
        <div class="form-group pt-2">
          <button onclick="addStudent()" class="btn btn-info">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/template" id="template_student">
  <tr>
      <td style="width:50px;">
        <span class="round bg-inverse">[[student_initials]]</span>
      </td>
      <td>
        <h6>[[student_name]]</h6>
        <small class="text-muted">[[student_cellphone]]</small>
      </td>
      <td class="text-right" width="50px">
        <button class="btn btn-waves btn-danger" onclick="deleteStudent([[student_id]])">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
</script>
<script type="text/template" id="template_lecture">
  <td class="lecture-td pt-3 pb-3" data-id="[[id]]" onclick="lectureOnClick([[id]])">
    <span class="badge badge-[[accent_color]] label-md">[[name]] [[students]]/[[student_capacity]]
    <i class="far fa-user"></i></span>
  </td>
</script>
<script type="text/template" id="template_level">
  <div class="col-lg-12 mt-5">
    <button onclick="next0([[id]])" class="btn btn-outline-info btn-bg">
      [[name]]
    </button>
  </div>
</script>
<script type="text/template" id="template_row">
  <tr id=ts[[id]]>
    <td style="min-width: 150px">
      [[timestamp]]
    </td>
  </tr>
</script>
<script src="/static/app/views/admin/lectures.js?v3"></script>
{% endblock %}
