{% extends "admin/base.html" %} {% block content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Review</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item">Students</li>
      <li class="breadcrumb-item active">Review</li>
    </ol>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->

<!-- Row -->
<div class="row">
  <div class="col-lg-12">
    <div class="card" id="review-card" style="display: None">
      <div class="card-body">
        <h4 class="card-title">Classes Pending Review</h4>
        <div class="table-responsive m-t-20">
          <table class="table stylish-table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Lecture</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="lectures"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" id="no-review-card" style="display: None">
      <div class="card-body">
        <p>
          No students pending review.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} {%block scripts %}
<script type="text/template" id="lecture-template">
  <tr>
    <td>[[date_str]]</td>
    <td>[[lecture_name]]</td>
    <td>
      <button class="btn btn-outline-info check-lecture" onclick="openModalLectureReview([[index]])">
        <i class="fa fa-check"></i>
      </button>
    </td>
  </tr>
</script>
<script type="text/template" id="skill-template">
  <div class="skill-review">
      <p>[[name]]</p>
      <i data-value="1" data-skillid="[[id]]" class="far fa-star fa-lg skill-star" onclick="skillClick(this)"></i>
      <i data-value="2" data-skillid="[[id]]" class="far fa-star fa-lg skill-star" onclick="skillClick(this)"></i>
      <i data-value="3" data-skillid="[[id]]" class="far fa-star fa-lg skill-star" onclick="skillClick(this)"></i>
      <i data-value="4" data-skillid="[[id]]" class="far fa-star fa-lg skill-star" onclick="skillClick(this)"></i>
      <i data-value="5" data-skillid="[[id]]" class="far fa-star fa-lg skill-star" onclick="skillClick(this)"></i>
    </div>
</script>
<script type="text/template" id="remark-template">
  <tr>
      <td>
        <input
          data-id="[[id]]"
          type="checkbox"
          id="md_checkbox_[[id]]"
          class="chk-col-red filled-in to-improve"
        />
        <label for="md_checkbox_[[id]]"></label>
      </td>
      <td>[[name]]</td>
      <td>
        <input
          data-id="[[id]]"
          type="checkbox"
          id="md_checkbox_[[id]]_2"
          class="chk-col-blue filled-in strenght"
        />
        <label for="md_checkbox_[[id]]_2"></label>
      </td>
    </tr>
</script>
<script src="/static/app/views/admin/students-review.js"></script>
{% endblock %} {%block modals %}

<div id="modalLectureReview" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lecture Review</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="lecture-name"></h4>
            <h6 class="text-muted lecture-date"></h6>
            <h6 class="text-muted lecture-time"></h6>
          </div>
        </div>
        <div class="text-center mb-5">
          <div class="card">
            <div class="card-body">
              <img class="round student-photo" src="" alt="" />
              <h5 class="student-name mt-3"></h5>
            </div>
          </div>
        </div>
        <div class="text-center" id="step1">
          <div class="row">
            <div class="col-6">
              <button
                onclick="next1(false)"
                class="btn btn-danger btn-waves pt-4 pr-4 pl-4"
              >
                <i class="fa fa-times fa-2x"></i>
                <p>Missed</p>
              </button>
            </div>
            <div class="col-6 text-info">
              <button
                onclick="next1(true)"
                class="btn btn-info btn-waves pt-4 pr-4 pl-4"
              >
                <i class="fa fa-check fa-2x"></i>
                <p>Present</p>
              </button>
            </div>
          </div>
        </div>
        <div class="text-center" id="step2" style="display: none">
          <div id="skills"></div>
          <button class="btn btn-info mt-5" onclick="next2()">Next</button>
        </div>
        <div class="text-center" id="step3" style="display: none">
          <h6>Remarks</h6>
          <table class="table table-striped">
            <thead>
              <tr>
                <td class="text-danger">To improve</td>
                <td></td>
                <td class="text-success">Strenght</td>
              </tr>
            </thead>
            <tbody id="remarks"></tbody>
          </table>
          <button class="btn btn-info mt-5" onclick="next3()">Next</button>
        </div>
        <div id="step4" style="display: None">
          <label>Tutor's comment</label>
          <textarea
            id="comment"
            class="form-control"
            cols="30"
            rows="10"
          ></textarea>
          <button class="btn btn-info mt-5" onclick="next4()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
