{% extends "base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Lectures</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Lectures</li>
    </ol>
  </div>
</div>
<div class="row">
  <!-- Column -->
  <div class="col-lg-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <td></td>
              <td>Monday</td>
              <td>Thurday</td>
              <td>Wedensday</td>
              <td>Thuesday</td>
              <td>Friday</td>
              <td>Saturday</td>
            </thead>
            <tbody>
              <!-- 07:20 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  07h20 - 08h50
                </td>
                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
              <!-- 09:00 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  09h00 - 10h30
                </td>
                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
              <!-- 10:40 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  10h40 - 12h10
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-info">4</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
              <!-- 14:20 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  14h20 - 15h30
                </td>
                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-warning label-md">Advanced </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
              <!-- 15:30 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  15h30 - 17h00
                </td>
                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>

                <td class="text-center">
                  <span class="badge badge-info label-md">Intermediate </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
              <!-- 17:00 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  17h00 - 19h10
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-info">4</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-danger label-md">Fundamentals </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
              <!-- 19:10 -->
              <tr>
                <td class="text-center" style="min-width: 150px">
                  19h10 - 20h40
                </td>
                <td class="text-center">
                  <span class="badge badge-success label-md">FAQ & QA </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-success label-md">FAQ & QA </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-success label-md">FAQ & QA </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-success label-md">FAQ & QA </span>
                  <div class="mt-3">
                    <span class="text-info">4</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-success label-md">FAQ & QA </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
                <td class="text-center">
                  <span class="badge badge-primary label-md"
                    >Special Classes
                  </span>
                  <div class="mt-3">
                    <span class="text-danger">11</span>/10
                    <i class="ti-user"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
