{% extends "admin/base.html" %} {% block content %}
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Profile</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/settings">Settings</a>
      </li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </div>
</div>
<div class="row">
  <!-- Update Profile -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h2><span class="user-name"></span>'s Profile</h2>
        <div class="row">
          <div class="col-lg-4">
            <input
              type="file"
              class="dropify"
              data-default-file="/static/assets/images/users/1.jpg"
            />
          </div>
          <div class="col-lg-8">
            <form onsubmit="updateProfile(event, this)">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  placeholder="Johnathan Doe"
                  class="form-control user-name"
                  name="name"
                />
                <p class="text-danger">Name cant be empty.</p>
              </div>
              <div class="form-group">
                <label>Cellphone</label>
                <input
                  name="cellphone"
                  type="text"
                  placeholder="(xx) xxxxx-xxxx"
                  class="form-control form-control-line user-cellphone"
                />
                <p class="text-danger">Cellphone cant be empty.</p>
              </div>
              <button type="submit" class="btn btn-info">Update Profile</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/app/views//admin/settings/profile.js"></script>
{% endblock %}
