<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/assets/images/favicon.png"
    />
    <title>The Hut</title>
    <link
      href="/static/assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/static/assets/plugins/dropify/dist/css/dropify.min.css"
    />
    <!-- chartist CSS -->
    <link
      href="/static/assets/plugins/chartist-js/dist/chartist.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/plugins/chartist-js/dist/chartist-init.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/plugins/css-chart/css-chart.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
      rel="stylesheet"
    />
    <!-- Page plugins css -->
    <link
      href="/static/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css"
      rel="stylesheet"
    />
    <!-- Date picker plugins css -->
    <link
      href="/static/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Daterange picker plugins css -->
    <link
      href="/static/assets/plugins/timepicker/bootstrap-timepicker.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/plugins/daterangepicker/daterangepicker.css"
      rel="stylesheet"
    />
    <!--This page css - Morris CSS -->
    <link href="/static/assets/plugins/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Vector CSS -->
    <link
      href="/static/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/plugins/select2/dist/css/select2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/assets/plugins/rangeslider/rangeslider.css?v3"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/assets/plugins/fontawesome/css/all.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue-dark.css" id="theme" rel="stylesheet" />
    <link href="/static/css/client.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="fix-header fix-sidebar logo-center card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: None">
      <svg class="circular" viewBox="25 25 50 50">
        <circle
          class="path"
          cx="50"
          cy="50"
          r="20"
          fill="none"
          stroke-width="2"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-header">
            <img src="/static/assets/images/client/navbar-logo.png" alt="" />
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
              <!-- This is  -->
              <li class="nav-item">
                <a
                  class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="mdi mdi-menu"></i
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="ti-menu"></i
                ></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li>
                <a class="waves-effect waves-dark" href="#">
                  1.
                  <span class="hide-menu">Lecture Plan</span>
                  <i class="fa fa-check"></i>
                </a>
              </li>

              <li class="hide-menu">
                <div class="card">
                  <div class="card-body p-2">
                    <ul class="mt-0 pt-0">
                      <span class="badge badge-outline-inverse">
                        3 Aulas por semana </span
                      ><span class="badge badge-outline-inverse">
                        Curso de 14 Semanas
                      </span>
                      <span class="badge badge-outline-inverse">
                        R$ 200 por mes
                      </span>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="text-info">
                <a class="waves-effect waves-dark" href="#">
                  2.
                  <span class="hide-menu">Schedule</span>
                  <i class="fa fa-check"></i>
                </a>
              </li>
              <li class="hide-menu">
                <div class="card">
                  <div class="card-body p-2">
                    <ul class="mt-0 pt-0">
                      <li>
                        <span class="badge badge-outline-inverse">
                          Intermediate - QUA 08:20
                        </span>
                      </li>
                      <li>
                        <span class="badge badge-outline-inverse">
                          Intermediate - QUA 08:20
                        </span>
                      </li>
                      <li>
                        <span class="badge badge-outline-inverse">
                          Intermediate - QUA 08:20
                        </span>
                      </li>
                      <li>
                        <span class="badge badge-outline-inverse">
                          Intermediate - QUA 08:20
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a class="waves-effect waves-dark" href="#">
                  3.
                  <span class="hide-menu">Register</span>
                  <i class="fa fa-check"></i>
                </a>
              </li>
              <li>
                <a class="waves-effect waves-dark" href="#">
                  4.
                  <span class="hide-menu">Selfie</span>
                  <i class="fa fa-check"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="page-wrapper">
        <div class="container-fluid pt-5">
          <div id="step1" class="card">
            <div class="row card-body">
              <div class="col-lg-6 text-center">
                <div class="range-slider">
                  <p class="range-title mb-3">Quantas aulas por semana?</p>
                  <p class="range-value">
                    <span class="lectureCount"></span> Aulas
                  </p>
                  <input
                    id="lectureRange"
                    class="input-range"
                    type="range"
                    value="3"
                    min="3"
                    max="15"
                    step="1"
                  />
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <div class="range-slider">
                  <p class="range-title mb-3">Quantas semanas?</p>
                  <p class="range-value">
                    <span id="weekCount"></span> Semanas
                  </p>
                  <input
                    id="weekRange"
                    class="input-range"
                    type="range"
                    value="1"
                    min="1"
                    max="24"
                    step="1"
                  />
                </div>
              </div>
              <div class="col-lg-12 mt-5">
                <table class="table table-bordered">
                  <tbody class="text-center">
                    <tr>
                      <td class="range-detail">
                        <p class="text-muted">
                          Por Mes
                        </p>
                        <p>R$ <span id="monthCost"></span></p>
                      </td>
                      <td class="range-detail">
                        <p class="text-muted">
                          Por aula
                        </p>
                        <p>R$ <span id="lectureCost"></span></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="range-detail">
                          R$ <span id="weekCost"></span>
                          <span class="text-muted">
                            /semana
                          </span>
                        </p>
                      </td>
                      <td>
                        <p class="range-detail">
                          R$ <span id="totalCost"></span>
                          <span class="text-muted">
                            total
                          </span>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button
                class="btn btn-info btn-waves ml-auto mr-auto"
                onclick="next1();"
              >
                Continuar
              </button>
            </div>
          </div>
          <div id="step2" class="text-center card" style="display: none">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-2">
                  <button
                    class="btn btn-inverse btn-waves ml-auto mr-auto"
                    onclick="back1();"
                  >
                    Voltar
                  </button>
                </div>
                <div class="col-lg-8">
                  <h3>Selecione seus horarios</h3>
                  <h3>
                    <span class="selectedCount"></span>/<span
                      class="lectureCount"
                    ></span>
                    <i class="mdi mdi-grid"></i>
                  </h3>
                </div>
                <div class="col-lg-2">
                  <button
                    id="next2"
                    class="btn btn-info btn-waves ml-auto mr-auto"
                    onclick="next2();"
                  >
                    Continuar
                  </button>
                </div>
              </div>

              <div>
                <table
                  class="table table-responsive table-bordered table-striped"
                >
                  <thead class="text-center">
                    <td></td>
                    <td>Segunda</td>
                    <td>Terca</td>
                    <td>Quarta</td>
                    <td>Quinta</td>
                    <td>Sexta</td>
                    <td>Sabado</td>
                    <td>Domingo</td>
                  </thead>
                  <tbody class="text-center" id="lectures"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="step3" class="card" style="display: none">
            <div class="card-body mt-5 mb-5 text-center">
              <h1>Qual seu <b class="text-info">nome completo</b>?</h1>
              <div class="input-group mt-5 form-big">
                <input class="form-control" type="text" id="name" />
                <div class="input-group-append" onclick="next3();">
                  <span class="input-group-text bg-info">
                    <i class="fas fa-arrow-right text-white"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="step4" class="card" style="display: None">
            <div class="card-body mt-5 mb-5 text-center">
              <h1>Qual seu melhor <b class="text-info">e-mail</b>?</h1>
              <div class="input-group mt-5 form-big">
                <input class="form-control" type="text" id="email" />
                <div class="input-group-append" onclick="next4();">
                  <span class="input-group-text bg-info">
                    <i class="fas fa-arrow-right text-white"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="step5" class="card" style="display: None">
            <div class="card-body mt-5 mb-5 text-center">
              <h1>Qual seu <b class="text-info">celular</b>?</h1>
              <div class="input-group mt-5 form-big">
                <input class="form-control" type="text" id="cellphone" />
                <div class="input-group-append" onclick="next5();">
                  <span class="input-group-text bg-info">
                    <i class="fas fa-arrow-right text-white"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div id="step6" class="card" style="display: None">
            <div class="card-body text-center pt-5 pb-5">
              <h1 class="text-info pt-5 pb-5">Now, lets take a selfie.</h1>
              <div class="card col-md-6 ml-auto mr-auto">
                <div class="card-body">
                  <form
                    onchange="uploadFile(event, this)"
                    enctype="multipart/form-data"
                    id="upload-form"
                  >
                    <input type="hidden" id="photo" />
                    <input
                      name="file"
                      type="file"
                      data-max-file-size="500K"
                      data-allowed-file-extensions="jpg jpeg bmp png"
                      class="dropify"
                      data-height="500"
                    />
                  </form>
                  <div class="mt-5 row">
                    <button
                      class="btn btn-inverse btn-waves ml-auto mr-auto"
                      onclick="next6();"
                    >
                      Pular
                    </button>
                    <button
                      id="next2"
                      class="btn btn-info btn-waves ml-auto mr-auto"
                      onclick="next6();"
                    >
                      Continuar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="step7" style="display: None">
            <div class="card">
              <div class="card-body text-center">
                <button
                  class="btn btn-info btn-bg btn-waves"
                  onclick="next7();"
                >
                  Enviar Cadastro
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% block modals %}{% endblock %}
    </div>
    <div id="step8" style="display: None">
      <a href="/student-signin">
        <img src="/static/assets/images/client/navbar-logo.png" alt="" />
        <h1 class="text pt-5 pb-5">Welcome aboard.</h1>
      </a>
    </div>
    <script type="text/template" id="template_lecture">
      <td class="lecture-td" data-id="[[id]]" onclick="lectureOnClick(this)">
        <span class="badge badge-outline-[[accent_color]] label-md"
          >[[name]]
        </span>
      </td>
    </script>
    <script type="text/template" id="template_row">
      <tr id=ts[[id]]>
        <td style="min-width: 150px">
          [[timestamp]]
        </td>
      </tr>
    </script>
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/static/assets/plugins/jquery-render/jquery.render.min.js"></script>
    <script src="/static/assets/plugins/jquery/jquery-ui.min.js"></script>
    <script src="/static/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="/static/assets/plugins/popper/popper.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/plugins/moment/moment-with-locales.min.js"></script>
    <script src="/static/js/jquery.slimscroll.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/static/assets/plugins/d3/d3.min.js"></script>
    <script src="/static/assets/plugins/c3-master/c3.min.js"></script>
    <script src="/static/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/static/assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- Page plugins css -->
    <script src="/static/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <script src="/static/assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script src="/static/assets/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <link href="/static/assets/plugins/sweetalert2/dark.css" rel="stylesheet" />
    <script src="/static/assets/plugins/polyfill/promise-polyfill.js"></script>
    <script src="/static/app/api.js"></script>
    <script src="/static/app/ui.js"></script>
    <script src="/static/app/views/student-signin.js"></script>
  </body>
</html>
